<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShudderPT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <ShudderPT.Properties.Settings>
            <setting name="targetURL" serializeAs="String">
                <value />
            </setting>
            <setting name="fileName" serializeAs="String">
                <value />
            </setting>
            <setting name="subName" serializeAs="String">
                <value />
            </setting>
            <setting name="vBit" serializeAs="String">
                <value />
            </setting>
            <setting name="aBit" serializeAs="String">
                <value />
            </setting>
            <setting name="vRate" serializeAs="String">
                <value />
            </setting>
            <setting name="aRate" serializeAs="String">
                <value />
            </setting>
            <setting name="crfNum" serializeAs="String">
                <value />
            </setting>
            <setting name="vSize" serializeAs="String">
                <value />
            </setting>
            <setting name="vCodec" serializeAs="String">
                <value />
            </setting>
            <setting name="aCodec" serializeAs="String">
                <value />
            </setting>
        </ShudderPT.Properties.Settings>
    </userSettings>
</configuration>
